/* dm-sans-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/dm-sans-v11-latin-regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/dm-sans-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/dm-sans-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/dm-sans-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/dm-sans-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/dm-sans-v11-latin-regular.svg#DMSans') format('svg'); /* Legacy iOS */
  }
  /* dm-sans-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/dm-sans-v11-latin-500.eot'); /* IE9 Compat Modes */
    src: url('../fonts/dm-sans-v11-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/dm-sans-v11-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/dm-sans-v11-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/dm-sans-v11-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/dm-sans-v11-latin-500.svg#DMSans') format('svg'); /* Legacy iOS */
  }
  /* dm-sans-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/dm-sans-v11-latin-700.eot'); /* IE9 Compat Modes */
    src: url('../fonts/dm-sans-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/dm-sans-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/dm-sans-v11-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/dm-sans-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/dm-sans-v11-latin-700.svg#DMSans') format('svg'); /* Legacy iOS */
  }


.header, .main, .footer {
    max-width: 1080px;
    margin: 0 auto;

    font-family: 'DM Sans';
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
}

.header{

    width: 100%;
    padding: 50px 0;

}

.header__title {

    font-size: 48px;
    font-weight: 900;

}

.accordion::after {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: grey;
    margin-top: 5px;
}

.accordion__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*background-color: rgb(32, 126, 233);*/
    border-radius: 20px;
    width: 100%;
    height: 7.5vh;
    font-size: 32px;
    transition: 0.15s linear all;
    cursor: pointer;
}

.accordion__arrow{
    width: 5%;
    transition: 0.15s linear all;
}

.accordion__arrow-transformed{
    transform: rotate(180deg);
    transition: 0.15s linear all;
}

.accordion__content{
    display: none;
    transform: scale(0);
    transition: 0.15s linear all;
}

.accordion__content-visible{
    display: block;
    transform: scale(1);
    transition: 0.15s linear all;
}

.meme{
    transition: 0.15s linear all;
}

.meme__image {
    max-width: 300px;
}

.help {
    font-size: 12px;
}